<fieldset>
    <div> {{ store.isValid() }} </div>
    <div> {{ store.user.username() }} </div>
    <div> {{ store.user.password() }} </div>
    <div> {{ store.isLoading() }} </div>
    <div> {{ store.response() | json }} </div>
    <legend>Registration form</legend>
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control"
               id="username"
               name="username"
               placeholder="Username"
               type="text"
               #usernameNgModel="ngModel"
               [ngModel]="store.user.username()"
               (ngModelChange)="updateModel({ username: $event})"
               required
        >
        @if (usernameNgModel.invalid && (usernameNgModel.dirty || usernameNgModel.touched)){
            @if(usernameNgModel.hasError('required')){
                <div>Username is required.</div>
            }
        }
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control"
               id="password"
               name="password"
               placeholder="Password"
               type="text"
               #passwordNgModel="ngModel"
               [ngModel]="store.user.password()"
               (ngModelChange)="updateModel({ password: $event})"
               required
        >
        @if (passwordNgModel.invalid && (passwordNgModel.dirty || passwordNgModel.touched)){
            @if(passwordNgModel.hasError('required')){
                <div>Password is required.</div>
            }
        }
    </div>
    <div>
        <button (click)="register(store.user())">Register</button>
    </div>


<!--    <div>-->
<!--        <label for='username'>Username</label>-->
<!--        <input #usernameField-->
<!--               id='username'-->
<!--               placeholder="Username"-->
<!--               type="text"-->
<!--               [value]="username()"-->
<!--               (input)="username.set(usernameField.value)"-->
<!--        />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for='email'>Email</label>-->
<!--        <input [value]="email()" type="email" id='email' />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for='password'>Password</label>-->
<!--        <input [value]="password()" type="password" id='password' />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for='fullName'>Full name</label>-->
<!--        <input [value]="fullName()" id='fullName' />-->
<!--    </div>-->
<!--    <div> {{ username() + ',' + email() + ',' + password() + ',' + fullName() }} </div>-->
</fieldset>
